* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #72beff;
}

.quicksand-title {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.caveat-regular {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.grid-blocks {
    display: flex;
    flex-direction: column;
}

.mailing-list-button {
    position: absolute; 
    top: 20px; 
    right: 28px; 
    width: 200px; 
    height: 40px; 
    border-radius: 50px;
    border: none;
    background-color: #fff89b;
    text-align: center;
}

.mailing-list-button:hover {
    cursor: grab;
}

.container-top {
    background: center / contain repeat-x url(assets/images/container-top-bg.png);
    
    min-height: 160vh;
    width: 100%;
}

.title-block {
    position: relative;
    top: 300px;
}

.container-middle {
    background-color: #ffd642;
    position: relative;
    max-height: 100vh;
    width: auto;
}

.profile-block {
    background-color: none;
    position: relative;
    height: 35em;
    bottom: 100px;
    padding: 20px;
    width: 100vw;
    background: center / contain no-repeat url(assets/images/raymonii-profile-bg.png);
    margin-bottom: 20px;
}

.container-bottom {
    background-color: #fffee9;
    position: relative;
    max-height: 300vh;
    min-height: 180vh;
    width: auto;
    z-index: -999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.bottom-flex-child {
    flex-grow: 1;
    width: 100vw;
}

.spacer {
    height: 700px;
}

.container-rounded {
    background-color: #fe8961;
    border-radius: 60px;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    position: relative;
    top: 40%;
}

.signup-container {
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 14rem;
    height: 20vh;
}
.signup-text {
    flex-wrap: wrap;
    text-align: center;
    line-height: 3rem;
}

.footer {
    background-color: #72beff;
    height: 300px;
    width: auto;
}